<style>
    .page-content-wrapper .page-content{
        background: #F1F3FA;
    }
</style>
<!-- BEGIN PAGE HEADER-->
<h3 class="page-title" style="    margin-top: -10px;">
    Information de l'utilisateur
    <small></small>
</h3>
<div class="page-bar" style="background-color: #ffffff;">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="#/dashboard.html">Dashbord</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#/user/list">Liste des utiisateur</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            Information de l'utilisateur
        </li>
    </ul>
    <div class="page-toolbar" style="padding: 5px;" >
        <div class="btn-group">
            <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                Actions <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
                <!--
                <li style="padding: 5px;" >
                    <a href="#/user/edit/{{u._id}}" class="btn default btn-xs green">
                        <i class="fa fa-edit" style="color: #ffffff;" ></i> Modifier
                    </a>
                </li>
                <li class="divider"></li>
                -->
                <li style="padding: 5px;">
                    <a href="#" ng-if="user.isBlocked"  class="btn default btn-xs red" ng-click="unblock();" >
                        <i class="fa fa-trash" style="color: #ffffff;"></i> Déblocker
                    </a>
                    <a href="#" ng-if="!user.isBlocked"  class="btn default btn-xs red" ng-click="block();" >
                        <i class="fa fa-trash" style="color: #ffffff;"></i> Blocker
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row margin-top-20">
    <div class="col-md-12">
        <!-- BEGIN PROFILE SIDEBAR -->
        <div class="profile-sidebar">
            <!-- PORTLET MAIN -->
            <div class="portlet light profile-sidebar-portlet">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic" style="margin-top: -20px;" >
                    <img ng-src="../../imgs/users/{{ user.profileImageURL }}" class="img-responsive" alt="">
                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        {{ user.firstName }} {{ user.lastName }}
                    </div>
                    <div class="profile-usertitle-job" style="text-transform: none;">
                        Status :
                        <span class="item-status" style="color: #f3565d;" ng-if="user.isBlocked" >
                            <span class="badge badge-empty badge-danger"></span> Blocké
                        </span>
                        <span class="item-status" style="color:#45b6af;" ng-if="!user.isBlocked" >
                            <span class="badge badge-empty badge-success"></span> Actif
                        </span>
                    </div>
                    <div class="profile-usertitle-job" style="text-transform: none;">
                        Role : {{user.role}}
                    </div>
                    <div class="profile-usertitle-job" style="text-transform: none;">
                        Inscrit le : {{ user.created | date:'dd/MM/yyyy à HH:mm' }}
                    </div>
                    <div ng-if="user.gsm" class="profile-usertitle-job" style="text-transform: none;">
                        Téléphone: {{ user.gsm }}
                    </div>
                    <div class="profile-userbuttons">
                        <button type="button" class="btn btn-circle green-haze btn-sm" style="text-transform: none; font-size: 12px">
                            {{ user.email }}
                        </button>
                    </div>
                </div>
                <!-- END SIDEBAR USER TITLE -->
                <!-- SIDEBAR MENU -->
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li class="active">
                            <a href="#/user/detail/{{ ::userId }}">
                                <i class="icon-home"></i> Vue générale
                            </a>
                        </li>
                        <li>
                            <a href="#/user/accident/{{ ::userId }}">
                                <i class="icon-flag"></i> Accidents ajoutés
                            </a>
                        </li>
                        <li>
                            <a href="#/user/setting/{{ ::userId }}">
                                <i class="icon-settings"></i> Paramètre du compte
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- END MENU -->
            </div>
            <!-- END PORTLET MAIN -->
        </div>
        <!-- END BEGIN PROFILE SIDEBAR -->
        <!-- BEGIN PROFILE CONTENT -->
        <div class="profile-content">
            <div class="row">
                <div class="col-md-6">
                    <!-- BEGIN PORTLET -->
                    <div class="portlet light ">
                        <div class="portlet-title">
                            <div class="caption caption-md">
                                <i class="icon-bar-chart theme-font hide"></i>
                                <span class="caption-subject font-blue-madison bold uppercase">Activité</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="row number-stats margin-bottom-30">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="stat-number" style="float: none; display: block; text-align: center;">
                                            <div class="title">
                                                Total des accident ajouté
                                            </div>
                                            <div class="number">
                                                {{ user.accident.length }}
                                            </div>
                                        </div>
                                </div>
                            </div>
                            <div class="table-scrollable table-scrollable-borderless">
                                <table class="table table-hover table-light">
                                    <thead>
                                    <tr class="uppercase">
                                        <th>
                                            Date
                                        </th>
                                        <th>
                                            Lieu
                                        </th>
                                        <th>
                                            N° de ligne
                                        </th>
                                    </tr>
                                    </thead>
                                    <tr ng-repeat="a in user.accident  | limitTo:3" >
                                        <td>
                                            {{ a.date | date:'dd/MM/yyyy HH:mm'}}
                                        </td>
                                        <td>
                                            {{ a.adress.name }}
                                        </td>
                                        <td>
                                            {{ a.ligne }}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- END PORTLET -->
                </div>
                <div class="col-md-6">
                    <!-- BEGIN PORTLET -->
                    <div class="portlet light">
                        <div class="portlet-title tabbable-line">
                            <div class="caption caption-md">
                                <i class="icon-globe theme-font hide"></i>
                                <span class="caption-subject font-blue-madison bold uppercase">Journal de connection</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <!--BEGIN TABS-->
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_1_1">
                                    <div class="scroller" style="height: 320px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
                                        <ul class="feeds">
                                            <li ng-repeat="l in logs">
                                                <a href="javascript:;">
                                                    <div class="col1">
                                                        <div class="cont" ng-if="l.type=='logIn'">
                                                            <div class="cont-col1">
                                                                <div class="label label-sm label-success">
                                                                    <i class="fa fa-bell-o"></i>
                                                                </div>
                                                            </div>
                                                            <div class="cont-col2">
                                                                <div class="desc">
                                                                    A ouvert une session
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="cont" ng-if="l.type=='logOut'">
                                                            <div class="cont-col1">
                                                                <div class="label label-sm label-danger">
                                                                    <i class="fa fa-bolt"></i>
                                                                </div>
                                                            </div>
                                                            <div class="cont-col2">
                                                                <div class="desc">
                                                                    A fermer sa session
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col2">
                                                        <div class="date">
                                                            {{ l.date | timeAgo }}
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--END TABS-->
                        </div>
                    </div>
                    <!-- END PORTLET -->
                </div>
            </div>
        </div>
        <!-- END PROFILE CONTENT -->
    </div>
</div>
<!-- END PAGE CONTENT-->


<!-- BEGIN MAIN JS -->
<script>
    TableAdvanced.init();
</script>
<!-- END MAIN JS -->
