<div class="page-header-inner">
    <!-- BEGIN LOGO -->
    <div class="page-logo" style="background-color: white;">
        <a href="#/dashboard.html"> 
            <img src="assets/global/img/transtu_logo.png" alt="logo" class="logo-default" style="margin:0px; height: 45px;"/>
        </a>
        <div class="menu-toggler sidebar-toggler">
        </div>
    </div>

<form class="search-form hide" action="#" method="GET">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search..." name="query">
			<span class="input-group-btn">
			<a href="javascript:;" class="btn submit"><i class="icon-magnifier"></i></a>
			</span>
    </div>
</form>
<a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
</a>
<div class="top-menu">
    <div ng-show="AuthenticatedUser.login">
        <ul class="nav navbar-nav pull-right">

            <li class="dropdown dropdown-extended dropdown-notification" id="header_notification_bar">
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                    <i class="icon-bell"></i>
					<span class="badge badge-default">
					7 </span>
                </a>
                <ul class="dropdown-menu">
                    <li class="external">
                        <h3><span class="bold">12 pending</span> notifications</h3>
                        <a href="extra_profile.html">view all</a>
                    </li>
                    <li>
                        <ul class="dropdown-menu-list scroller" style="height: 250px;" data-handle-color="#637283">
                            <li>
                                <a href="javascript:;">
                                    <span class="time">just now</span>
									<span class="details">
									<span class="label label-sm label-icon label-success">
									<i class="fa fa-plus"></i>
									</span>
									New user registered. </span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <span class="time">3 mins</span>
									<span class="details">
									<span class="label label-sm label-icon label-danger">
									<i class="fa fa-bolt"></i>
									</span>
									Server #12 overloaded. </span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <span class="time">10 mins</span>
									<span class="details">
									<span class="label label-sm label-icon label-warning">
									<i class="fa fa-bell-o"></i>
									</span>
									Server #2 not responding. </span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <span class="time">14 hrs</span>
									<span class="details">
									<span class="label label-sm label-icon label-info">
									<i class="fa fa-bullhorn"></i>
									</span>
									Application error. </span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="dropdown dropdown-user">
                <a  href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="false">
                    <img alt="" class="img-circle" ng-src="../../imgs/users/{{ userHeader.profileImageURL }}" />
                    <span class="username username-hide-on-mobile">
                    {{AuthenticatedUser.login}} </span>
                    <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-default">
                    <li>
                        <a href="#/myprofile">
                            <i class="icon-user"></i> Mon Profile </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href ng-click="logOut()">
                            <i class="icon-key"></i> Déconnexion </a>
                    </li>
                </ul>
            </li>

        </ul>
    </div>
</div>
</div>
