<h3 class="page-title">
    Répartition Géographique des accidents <i class="fa fa-map"></i>
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="#/dashboard.html">Dashboard</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#/accident/map">Répartition géographique des accidents</a>
        </li>
    </ul>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-cursor font-purple-intense hide"></i>
                    <span class="caption-subject font-purple-intense bold uppercase">Répartition géographique des accidents</span>
                </div>
            </div>
            <div class="portlet-body">
                <div id="map">
                </div>
            </div>
        </div>
    </div>
</div>